langchain==0.3.7
langchain-community==0.3.7
langchain-core==0.3.63
langchain-groq==0.3.2
langchain-huggingface==0.2.0
langchain-text-splitters==0.3.8
langsmith==0.1.147
faiss-cpu==1.13.2
sentence-transformers==3.0.1
transformers==4.44.0
torch==2.2.2
huggingface_hub==0.36.2
tokenizers==0.19.1
youtube-transcript-api==1.2.4
streamlit==1.57.0
python-dotenv==1.2.2
numpy==1.26.4
